*.Rproj
.Rproj.user/
.env
.Rhistory
.RData
archives/
temp/
buffer_individual_shift0_sub/
buffer_individual_shift1_sub/
buffer_individual_shift0_sub.geojson
buffer_individual_shift1_sub.geojson
buffer_0_subset/
buffer_1_subset/
**/AlpAKaS_station_meta.csv
**/catchment_expert_full.geojson